@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
h2{
    font-family: Raleway, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}
form {
    margin: 0;
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px;

}
input[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    /* 2 */
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button,
input,
select{
    color: #222;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}
.form {
    display: flex;
    flex-direction: column;
}
@media (max-width: 1024px) {
    .form {
        margin-top: 20px;
    }
}
.form__field {
    display: flex;
    flex-direction: column;
}
.form__field:first-of-type {
    margin-bottom: 42px;
}
.form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: #08A6E4;
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}
.form__input {
    border: none;
    border-bottom: 1px solid #A5A5A5;
    background-color: transparent;
    line-height: 2.625rem;
}
.form__consent {
    margin-top: 30px;
}
.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}
.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.form__checkbox input:checked ~ .checkbox {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
}
.form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: #A5A5A5;
    line-height: 17px;
}
.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}
/**
 * Calculator Section
 */
.calc {
    padding: 80px 0;
    background-color: #F7F7F7;
}
@media (max-width: 1024px) {
    .calc {
        padding: 30px 15px;
    }
}
.calc h2 {
    text-align: center;
}
.calc__columns {
    max-width: 865px;
    margin: 50px auto 0;
    display: flex;
}
@media (max-width: 1024px) {
    .calc__columns {
        display: block;
    }
}
.calc__form {
    width: 50%;
    margin-right: 20px;
}
@media (max-width: 1024px) {
    .calc__form {
        width: 100%;
        margin-right: 0;
    }
}
ul {
    margin: 0;
    padding: 0;
}
.calc__input input, .calc__select .select__input {
    color: #A5A5A5;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #08A6E4;
    padding: 11px 20px;
    line-height: 1em;
    font-size: 0.8125rem;
    box-shadow: 0 3px 6px rgba(7, 172, 230, 0.16);
    margin-bottom: 20px;
    background-color: #ffffff;
}
.calc__input input::-webkit-input-placeholder {
    color: #A5A5A5;
}
.calc__input input::-moz-placeholder {
    color: #A5A5A5;
}
.calc__input input:-ms-input-placeholder {
    color: #A5A5A5;
}
.calc__input input::-ms-input-placeholder {
    color: #A5A5A5;
}
.calc__input input::placeholder {
    color: #A5A5A5;
}
.calc__select {
    position: relative;
}
.calc__select .select__input {
    position: relative;
    height: 40px;
    vertical-align: middle;
    padding: 13px 20px;
    cursor: pointer;
}
.calc__select .select__input::after {
    content: "";
    background-image: url("../assets/Arrow.svg");
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    right: 14px;
    top: 9px;
}
.calc__select .select__dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #FB3B64;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.calc__select .select__dropdown li {
    font-size: 13px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
.calc__select .select__dropdown li:hover {
    background-color: #F7F7F7;
}
.calc__select.open .select__input::after {
    transform: rotate(180deg);
}
.calc__select.open .select__dropdown {
    display: block;
}
.calc .form__checkbox .consent__text {
    padding-top: 4px;
}
.calc__summary {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    min-height: 280px;
}
@media (max-width: 1024px) {
    .calc__summary {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
}
.calc__summary .summary__total {
    margin-top: auto !important;
 }
.calc__summary .summary__total,
.calc__summary .list__item {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 0.875rem;
    display: none;
}
.calc__summary .summary__total.open,
.calc__summary .list__item.open {
    display: flex;
}
.calc__summary .summary__total {
    width: 50%;
    align-self: flex-end;
    margin-top: 22px;
    padding: 8px 20px;
    background-color: #08A6E4;
}
.calc__summary .summary__total .total__price {
    font-size: 1.25rem;
    font-weight: 700;
}
.calc__summary .list__item {
    padding: 7px 11px;
    background-color: #55DFB4;
    margin-bottom: 8px;
}
.calc__summary .list__item .item__price {
    font-weight: 700;
    font-size: 1.125rem;
}